:root {
  --body-font: "Raleway";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: var(--body-font);
  font-weight: 400;
  caret-color: transparent;
  height: auto;
  overflow-y: scroll;
}

/*=========================================== Navigation bar ===========================================*/
nav {
  position: fixed;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 4em;
  box-shadow: grey 0px 1px 50px -25px;
  z-index: 999;
  font-weight: 600;
}

.nav-padding {
  display: flex;
  height: 4em;
  background-color: red;
}

.logo-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.left-menu {
  display: flex;
  width: 31.4%;
  list-style-type: none;
  padding: 0 2em;
  gap: 2em;
}

.right-menu {
  display: flex;
  width: 31.4%;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0 2em;
  gap: 2em;
}

.right-menu > li,
.left-menu > li {
  position: relative;
  cursor: pointer;
  height: 2em;
  display: flex;
  align-items: center;
}

.material-icons-outlined {
  font-size: 1.5em;
  color: #3a3a3a;
}

.right-menu > li:nth-child(3)::after,
.right-menu > li:nth-child(4)::after,
.right-menu > li:nth-child(5)::after {
  display: none;
}

.right-menu > li:nth-child(3) > i {
  margin-bottom: 3px;
  transform: scale(1.1);
}

.right-menu > li:nth-child(5) i {
  margin-bottom: 5px;
}

/* Search-box */
.right-menu > li:nth-child(3) > .search-box {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  height: 2em;
  padding: 2em;
  font-size: 1.25em;
  opacity: 0;
  visibility: hidden;
  box-shadow: none;
  transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out, box-shadow 50ms ease-in-out;
  border: none;
  caret-color: black;
}

.search-box:focus-within {
  outline: none;
}

.right-menu li:nth-child(3):focus-within .search-box {
  opacity: 1;
  visibility: visible;
  box-shadow: rgb(0, 0, 0, 0.7) 0 0 100px;
}
/* End of Search-box */

/* Drop-down Panel */
.subcategory-menu {
  position: fixed;
  display: flex;
  background-color: white;
  border-top: lightgrey solid 1px;
  margin: 1em 0 0 0;
  padding: 2em calc(30% - 100vw / 9);
  width: 100%;
  top: 3em;
  left: 0;
  gap: 3vmax;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
  box-shadow: grey 0px 25px 50px -50px;
  cursor: default;
}

.subcategory-menu li {
  list-style-type: none;
  font-size: 1em;
  padding: 0.5em;
  font-weight: 400;
}

.subcategory-menu ul {
  padding: 0;
}

.subcategory-menu ul li:nth-child(1) {
  font-weight: 600;
}

.subcategory-menu ul:nth-child(2) li:nth-child(4) {
  color: rgb(206, 6, 6);
  font-weight: 750;
  text-transform: uppercase;
}

.left-menu > li:focus-within .subcategory-menu {
  opacity: 1;
  visibility: visible;
}
/* End of Drop-down Panel */

/* Navigation Bar Hover Effect */
.right-menu > li::after,
.left-menu > li::after {
  content: "";
  position: absolute;
  width: 100%;
  background: black;
  border-radius: 5px;
  height: 0.14em;
  top: 2.85em;
  left: 0;
  transform: scaleX(0);
}

.left-menu > li:hover::after,
.right-menu > li:hover::after {
  transform: scaleX(1);
}

.left-menu a:link,
.left-menu a:visited,
.right-menu a:link,
.right-menu a:visited {
  color: inherit;
  text-decoration: none;
}
/* End of Navigation Bar Hover Effect */
/*=========================================== End of Navigation bar ===========================================*/

/*=========================================== Homepage Banner Section ===========================================*/
.hp-heroimg {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.hp-heroimg img {
  width: 100%;
  height: calc(100vh - 4em);
  object-fit: cover;
  object-position: center 5%;
}

.hp-width-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 62.65%;
}

.hp-heroimg .hp-cta-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  gap: 2em;
}

.hp-heroimg h1 {
  font-size: 3.5em;
  color: white;
  margin: 0;
}

.hp-cta-botton {
  font-weight: bold;
  text-wrap: nowrap;
  color: #3a3a3a;
  background-color: rgba(255, 255, 255, 0.856);
  width: fit-content;
  padding: 1em 3em;
  margin: 0;
  cursor: pointer;
  transition: color 110ms ease-in-out, background-color 110ms ease-in-out;
}

.hp-cta-botton:hover {
  color: white;
  background: #2a291b;
}
/*=========================================== End of Homepage Banner Section ===========================================*/

/*=========================================== Homepage Collection Section ===========================================*/
.collection-container {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(100vw / 15 - 100vw / 20);
}

.hp-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.hp-collection > p:nth-child(1) {
  position: relative;
  font-size: 2.75em;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: nowrap;
  text-align: center;
  color: black;
  width: fit-content;
  margin: 3vmax;
}

.hp-collection > p:nth-child(2) {
  width: 90vw;
  text-wrap: pretty;
}

.hp-collection > p:nth-child(1)::after {
  content: "";
  display: block;
  width: 40%;
  position: absolute;
  background: black;
  height: 0.015em;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.hp-aboutus-container {
  width: 100%;
  height: 30vmax;
  background-color: #2a291b;
  overflow: hidden;
}

.hp-collection > .hp-aboutus-container > p {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 80%;
  margin: 1.5em 0;
  padding: calc(100vw / 4 - 100vw / 5);
  color: white;
  font-size: 1em;
  text-align: right;
  line-height: 3vmax;
  overflow: hidden;
}

.hp-collection > .hp-aboutus-container > img {
  float: right;
  width: 50%;
  height: inherit;
  object-fit: cover;
  object-position: center 30%;
  filter: brightness(130%) grayscale(100%) contrast(0.9);
}

.hp-collection p {
  width: 80%;
  text-align: center;
  text-wrap: balance;
  margin: calc(100vh / 30 - 100vh / 100);
}

.hp-collection p:nth-child(2) {
  padding-bottom: 2em;
}

.hp-card-container {
  display: flex;
  gap: 1.5em;
}

.hp-card-container:nth-of-type(1) {
  padding-bottom: calc(100vw / 15 - 100vw / 45);
}

.hp-card-img-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.hp-card-img-container-2 {
  display: flex;
  overflow: hidden;
  position: relative;
  filter: grayscale(25%);
}

.hp-card-container .hp-card-img-container img {
  width: calc(100vw / 3 - 100vw / 12);
  height: auto;
}

.hp-card-container .hp-card-img-container-2 img {
  width: calc(100vw / 3 - 100vw / 8);
  height: calc(100vw / 3 - 100vw / 8);
  object-fit: cover;
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hp-card-container .hp-cta-botton,
.hp-card-container .hp-cta-botton {
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
}

.hp-card-img-container:hover .hp-cta-botton,
.hp-card-img-container-2:hover .hp-cta-botton {
  opacity: 1;
  visibility: visible;
}

.hp-card-container > .hp-card-img-container > img,
.hp-card-container > .hp-card-img-container-2 > img {
  filter: grayscale(45%);
  transform: none;
  transition: transform 300ms ease-in-out, filter 100ms ease-in;
}

.hp-card-img-container:hover img,
.hp-card-img-container-2:hover img {
  transform: scale(1.175);
  filter: grayscale(0%) contrast(110%) saturate(105%);
}
/*=========================================== End of Homepage Collection Section ===========================================*/

/*=========================================== Footer Section ===========================================*/
footer {
  display: flex;
  background-color: #2a291b;
  justify-content: center;
}

.footer-content {
  display: flex;
  min-width: 66.5%;
  height: auto;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  background-color: #2a291b;
  color: white;
}

.footer-content section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: calc(100vw / 40 - 100vw / 100) calc(100vw / 30 - 100vw / 100);
}

.footer-content section a:visited,
.footer-content section a:link {
  text-decoration: none;
  color: inherit;
}

footer > .footer-content > .left-footer {
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-logo img {
  filter: brightness(0) invert(1);
  width: calc(100vw / 20 - 100vw / 100);
  margin: 1.25em 0;
}

footer > .footer-content > .middle-footer {
  display: block;
}

.middle-footer p {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.middle-footer li {
  list-style-type: none;
  padding: 0.25em;
}

.sitemap-container {
  display: flex;
  margin: 0;
  padding: 0;
  gap: calc(100vw / 20 - 100vw / 100);
}

.sitemap-left,
.sitemap-right {
  padding: 0;
}

footer > .footer-content > .right-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subscribe-container {
  padding: 1.5em 0;
}

.subscribe-container input[type="email"] {
  padding: 0.5em;
  width: 100%;
  border: none;
  border-radius: 15px;
  outline: none;
  caret-color: black;
}

.social-media-container {
  display: flex;
  gap: calc(100vw / 30 - 100vw / 100);
  font-size: 1.5em;
}

/*=========================================== End of Footer ===========================================*/

/*=========================================== Shopping-Cart ===========================================*/
.shopping-cart {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 2em;
  width: 45%;
  left: 50%;
  margin: 4em 0;
  transform: translateX(-50%);
  border: black solid 1px;
}

.sc-item-card-container {
  display: flex;
  gap: 0.5em;
  border: black solid 1px;
}

.sc-item-img-container {
  display: flex;
}

.sc-right-container {
  padding: 0.5em;
  border: black solid 1px;
}

.sc-order-summary {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sc-order-summary-section {
  display: flex;
  justify-content: space-between;
}
/*=========================================== End of Shopping-Cart ===========================================*/

/*=========================================== About Us ===========================================*/

.margin-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 calc(100vw / 4.625 - 100vw / 35) calc(100vh / 10 - 100vh / 35)
    calc(100vw / 4.625 - 100vw / 35);
}

.au-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.au-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(100vw / 12 - 100vw / 15) 0;
}

.au-history-section {
  position: relative;
  overflow: hidden;
}

.au-content-container > div:nth-child(2) > p {
  font-weight: 400;
}

.au-history-section::before {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #3a3a3a;
  top: 8.5%;
  bottom: 10%;
  left: 5%;
}

.au-text-container > p {
  width: 80%;
  text-align: left;
  text-wrap: pretty;
  line-height: 1.5em;
}

.au-history-section > div:nth-child(2) > p:nth-of-type(1),
.au-history-section > div:nth-child(3) > p:nth-of-type(1),
.au-history-section > div:nth-child(4) > p:nth-of-type(1) {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
}

.au-history-section > div:nth-child(2) > p:nth-of-type(1)::after,
.au-history-section > div:nth-child(3) > p:nth-of-type(1)::after,
.au-history-section > div:nth-child(4) > p:nth-of-type(1)::after {
  position: absolute;
  content: "";
  height: 0.02em;
  width: 20px;
  background: #3a3a3a;
  top: 18px;
  left: 60px;
}

.au-text-container > video {
  filter: grayscale(100%);
  width: 80%;
}

.au-img-container {
  margin: 0 0 calc(100vw / 10 - 100vw / 15) 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.au-img-container img {
  width: calc(100vw / 1.5 - 100vw / 25);
  height: calc(100vw / 3 - 100vw / 25);
  filter: grayscale(100%);
  object-fit: cover;
  object-position: bottom right;
}

.au-title-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 5px;
  text-indent: 1px;
  text-align: center;
  font-weight: 700;
  font-size: 2.75em;
  text-transform: uppercase;
}

/*=========================================== End of About Us ===========================================*/

/*=========================================== Responsive ===========================================*/

@media screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-logo img {
    width: calc(100vw / 8 - 100vw / 100);
  }

  .hp-aboutus-container {
    height: 50vh;
  }

  .hp-collection > .hp-aboutus-container > p {
    height: 40vh;
    font-size: 1em;
    text-align: center;
    text-wrap: pretty;
  }

  .hp-card-container {
    flex-direction: column;
  }

  .hp-card-container > .hp-card-img-container > img,
  .hp-card-container > .hp-card-img-container-2 > img {
    width: 80vw;
  }
}

@media screen and (max-width: 1254px) {
  nav {
    padding: 0 calc(100vw / 10);
  }

  .left-menu {
    display: none;
  }

  .logo-container {
    position: absolute;
    /* padding-left: calc(100vw / 11.35); */
  }

  .right-menu {
    display: flex;
    width: 100%;
    padding-right: 0;
    padding-left: 5em;
    justify-self: flex-start;
    gap: 0.85em;
  }

  .right-menu li:nth-child(1),
  .right-menu li:nth-child(2) {
    display: none;
  }
}
