:root {
  --body-font: "Raleway";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: var(--body-font);
  font-weight: 400;
  caret-color: transparent;
  height: 100vh;
}

/* Navigation bar */
nav {
  position: fixed;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  box-shadow: grey 0px 1px 50px -25px;
  z-index: 999;
  font-weight: 600;
}

.logo-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.left-menu {
  display: flex;
  width: 31.4%;
  list-style-type: none;
  padding: 0 2em;
  gap: 2em;
}

.right-menu {
  display: flex;
  width: 31.4%;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0 2em;
  gap: 2em;
}

.right-menu > li,
.left-menu > li {
  position: relative;
  cursor: pointer;
  height: 2em;
  display: flex;
  align-items: center;
}

.material-icons-outlined {
  font-size: 1.5em;
  color: #3a3a3a;
}

.right-menu > li:nth-child(3)::after,
.right-menu > li:nth-child(4)::after,
.right-menu > li:nth-child(5)::after {
  display: none;
}

.right-menu > li:nth-child(3) > i {
  margin-bottom: 3px;
  transform: scale(1.1);
}

.right-menu > li:nth-child(5) i {
  margin-bottom: 5px;
}

/* Search-box */
.search-box {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  height: 2em;
  padding: 1.5em;
  font-size: 1em;
  opacity: 0;
  visibility: hidden;
  box-shadow: none;
  transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out, box-shadow 50ms ease-in-out;
  border: none;
  caret-color: black;
}

.search-box:focus-within {
  outline: none;
}

.right-menu li:nth-child(3):focus-within .search-box {
  opacity: 1;
  visibility: visible;
  box-shadow: rgb(0, 0, 0, 0.7) 0 0 100px;
}
/* End of Search-box */

.subcategory-menu {
  position: fixed;
  display: flex;
  background-color: white;
  border-top: lightgrey solid 1px;
  margin: 1em 0 0 0;
  padding: 2em 17.25%;
  width: 100%;
  top: 3em;
  left: 0;
  gap: 0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
  box-shadow: grey 0px 25px 50px -50px;
}

.subcategory-menu li {
  list-style-type: none;
  font-size: 0.9em;
  padding: 0.5em;
  font-weight: 400;
}

.subcategory-menu ul li:nth-child(1) {
  font-weight: 600;
}

.subcategory-menu ul:nth-child(2) li:nth-child(4) {
  color: rgb(182, 10, 10);
  font-weight: 600;
  text-transform: uppercase;
}

.left-menu > li:focus-within .subcategory-menu {
  opacity: 1;
  visibility: visible;
}

.right-menu > li::after,
.left-menu > li::after {
  content: "";
  position: absolute;
  width: 100%;
  background: black;
  border-radius: 5px;
  height: 0.14em;
  top: 2.85em;
  left: 0;
  transform: scaleX(0);
}

.left-menu > li:hover::after,
.right-menu > li:hover::after {
  transform: scaleX(1);
}

.left-menu a:link,
.left-menu a:visited,
.right-menu a:link,
.right-menu a:visited {
  color: inherit;
  text-decoration: none;
}
/* End of Navigation bar */

.hp-heroimg {
  position: relative;
  padding-top: 4em;
  width: 100%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.hp-heroimg img {
  width: 100%;
  height: calc(100vh - 4em);
  object-fit: cover;
  object-position: center 10%;
}

.hp-heroimg .hp-cta-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 24.5%;
  transform: translate(-24.5%, -50%);
  gap: 2em;
}

.hp-heroimg h1 {
  font-size: 3.5em;
  color: white;
  margin: 0;
}

.hp-cta-botton {
  font-weight: bold;
  color: black;
  background-color: white;
  width: fit-content;
  padding: 1em 3em;
  border-radius: 30px;
  cursor: pointer;
  transition: color 110ms ease-in-out, background-color 110ms ease-in-out;
}

.hp-cta-botton:hover {
  color: white;
  background: #2a291b;
}

.hp-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.hp-collection p:nth-child(1) {
  font-size: 2.75em;
  font-weight: 550;
  color: #2a291b;
  width: 80%;
}

.hp-collection p {
  width: 80%;
  text-align: center;
  text-wrap: balance;
  margin: calc(100vh / 30 - 100vh / 100);
}

.hp-collection p:nth-child(2) {
  padding-bottom: 2em;
}

.hp-card-container {
  display: flex;
  gap: 1.5em;
}

.hp-card-img-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hp-card-container img {
  width: calc(100vw / 3 - 100vw / 12);
  height: auto;
}

.hp-card-container .hp-cta-botton {
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
}

.hp-card-img-container:hover .hp-cta-botton {
  opacity: 1;
  visibility: visible;
}

.hp-card-container img {
  transform: none;
  transition: transform 300ms ease-in-out;
}

.hp-card-img-container:hover img {
  transform: scale(1.175);
}

/* Footer Section */
footer {
  display: flex;
  background-color: #2a291b;
  justify-content: center;
}

.footer-content {
  display: flex;
  min-width: 66.5%;
  height: auto;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  background-color: #2a291b;
  color: white;
}

.footer-content section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: calc(100vw / 40 - 100vw / 100) calc(100vw / 30 - 100vw / 100);
}

.footer-content section a:visited,
.footer-content section a:link {
  text-decoration: none;
  color: inherit;
}

footer > .footer-content > .left-footer {
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-logo img {
  filter: brightness(0) invert(1);
  width: calc(100vw / 20 - 100vw / 100);
  margin: 1.25em 0;
}

footer > .footer-content > .middle-footer {
  display: block;
}

.middle-footer p {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.middle-footer li {
  list-style-type: none;
  padding: 0.25em;
}

.sitemap-container {
  display: flex;
  margin: 0;
  padding: 0;
  gap: calc(100vw / 20 - 100vw / 100);
}

.sitemap-left,
.sitemap-right {
  padding: 0;
}

footer > .footer-content > .right-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subscribe-container {
  padding: 1.5em 0;
}

.subscribe-container input[type="email"] {
  padding: 0.5em;
  width: 100%;
  border: none;
  border-radius: 15px;
  outline: none;
  caret-color: black;
}

.social-media-container {
  display: flex;
  gap: calc(100vw / 30 - 100vw / 100);
  font-size: 1.5em;
}
/* End of Footer */

@media screen and (max-width: 900px) {
  .footer-logo img {
    width: calc(100vw / 8 - 100vw / 100);
  }
}
